<ngx-progressive-img-loader [height]="'320px'" [width]="'100%'" (imageLoaded)="onImgLoad($event)"
  (thumbnailLoaded)="onThumbLoad($event)" [overlayTint]="'rgba(0,0,0,0)'" [preserveAspectRatio]="true"
  [placeholderBgColor]="'grey'" [img]="currentPicture.highres" [thumbnail]="currentPicture.thumbnail"
  [fallbackImg]="'https://vignette.wikia.nocookie.net/project-pokemon/images/4/47/Placeholder.png/revision/latest?cb=20170330235552'">
  content goes here
</ngx-progressive-img-loader>


<br />
<div *ngIf="!imageLoaded">
  loading full resolution...
</div>

<div *ngIf="imageLoaded">
  High resolution image of LASU developers taking a group picture.
</div>

<button (click)="getPicture()">Change Picture</button>
